body {
    margin: 0;
}

.main{
    width: 1600px;
    margin: 0 auto;
    font-family: Arial;
}

.main_header{
    width: 1600px;
}

.categories__item{
    display: inline-block;
    margin-left: 60px;
}

.categories__link{
    color: #9c9da0;
    font-size: 24px;
    font-family: Arial;
    text-decoration: none;
    text-transform: uppercase;
}

.minimo_title{
    color: black;
    font-size: 30px;
    font-family: Inconsolata;
    margin-left: 0px;
    margin-right: 50px;
}

.main_bottom{
    display: inline-block;
    padding-bottom: 400px;
}

.main_bottom_photo{
    display: inline-block;
    width: 1600px;
}

.main_bottom_photo img{
    width: 100%;
    height: auto;
}

.main_bottom_secondpart{
    margin-top: 150px;
    margin-left: 40px;
}

.main_bottom_article,.main_bottom_sidebar{
    vertical-align: top;
}

.main_bottom_article{
    display: inline-block;
    width: 1000px;
    font-size: 20px;
    padding-left: 60px;
}

.main_bottom_article_text1, .main_bottom_article_text2{
    /*text-align: justify;*/
}

.main_bottom_article_section{
    font-size:20px;
    text-transform: uppercase;
}

.main_bottom_article_photo{
    width: inherit;
}

.main_bottom_article_photo img{
    width: 100%;
    height: auto;
}

.main_bottom_article_title{
    font-size: 32px;
}



.main_bottom_sidebar{
    box-sizing: border-box;
    width: 400px;
    display: inline-block;
    font-size: 20px;
    margin-left: 30px;
    float: right;
}

.main_bottom_sidebar_photo{
    width: 400px;
    height: max-content;
}

.main_bottom_sidebar_photo img{
    width: 100%;
    height: auto;
}

.main_bottom_sidebar_photo_filler{
    background-color : #9c9da0;
    height: inherit;
}

.main_bottom_sidebar_postlist{
    color:#626262;
}

.main_bottom_sidebar_postlist{
}

.main_bottom_sidebar_postlist_sign{
    text-transform: uppercase;
    color: #c7c1b6;
}

.postlist_item_container_comments{
    text-transform: uppercase;
    font-weight: lighter;
    color: #c7c1b6;
}

.main_footer{

}

.footer_categories__item{
    font-size: 20px;
    font-family: Arial;
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 40px;
}